form    {
    padding: 10px;
}
#contactFormButtons {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: flex-end;
}

label   {
    vertical-align: top;
}

input {
    width: 100%;
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
    border: 1px solid #1b263b;
    border-radius: 4px;
}

textarea {
    width: 100%;
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
    border: 1px solid #1b263b;
    border-radius: 4px;
}

input[type=submit],[type=reset]    {
    width: 100px;
    background-color: #778da9;
    padding: 10px;
    cursor: pointer;
    border: 1px solid #1b263b;
}