main    {
  padding: 0px;
}

.modalImage {
  padding: 0;
  max-height: 100vh;
  max-width: 100vw;
}

.gallery    {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.galleryHidden    {
  display: none;
}

.gallery-item img   {
  width: 150px;
  height: 150px;
  object-fit: cover;
  padding: 20px;
  border-radius: 100%;
  opacity: 1;
  cursor: pointer;
  transform: scale(1);
}

.gallery-item img:hover   {
  opacity: 1;
  transform: scale(1.2);
  transition: 400ms ease-in-out;
  filter: none;
}

#modal {
  display: none; /* Hidden by default */
}

#modalActive  {
  position: fixed;
  top: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  background-color: #0d1b2a;
  padding: 0;
  margin: 0;
  }

#modalControl {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-content: center;
  align-items: center;
}

#modalControl img {
  max-width: 100%;
}

button   {
  display: flex;
font-size: 1rem;
color: white;
border: 0;
background-color: transparent;
justify-self: center;
align-self: center;
}

button:hover   {
  color: #778da9;
}