html   {
    background: rgb(2,0,36);
    background: linear-gradient(146deg, rgba(2,0,36,1) 0%, rgba(65,90,119,1) 55%, rgba(119,141,169,1) 100%);
}

.landingPage    {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.heroBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 10px double #e0e1dd;
    min-width: 40vh;
    height: 20vh;
    padding: 10px;
}

h1  {
    color: #e0e1dd;
    font-size: 60px;
}

h2  {
    color: #e0e1dd;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 600;
}

h3  {
    color: #e0e1dd;
    font-size: 10px;
    font-variant: normal;
    font-style: italic;
    font-weight: 400;
    font-family: 'Open Sans';
    letter-spacing: 2px;
}

a:hover {
    color: #0d1b2a;
}