/*****
Colors

Dark Blue #21364b
Light Blue #3e93cc
Lightest Blue #a6d7e5
Gray rgb(91, 87, 87);
*****/


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;800&display=swap');

html, body    {
    background-color: #000000;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
  
.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: -100px;
}

.fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
}

.heroBox    {
    position:absolute;
    top:50%;
    left:50%;
    background-color: #a6d7e5;
    z-index:1002;
    overflow:auto;
    width:600px;
    height:400px;
    margin-left:-300px;
    margin-top: -200px;
    border: 8px double #3e93cc;
    font-size: 2em;
}

h1  {
    font-size: 2em;
    text-align: center;
    color: #21364b;
    margin: 0;
    padding-top: 100px;
    text-shadow: 2px 2px 2px black;
}

h2  {
    font-size: .65em;
    text-align: center;
    margin: 0;
    padding-top: 50px;
    color: #21364b;
}

h3  {
    font-size: .4em;
    font-weight: 400;
    color: rgb(91, 87, 87);
    text-align: center;
}
a   {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: #3e93cc;
}
