ul.resume  {
    padding-left: 50px;
}

article:nth-of-type(even)    {
    background-color: #e0e1dd;
    margin-left: 0px;
    padding: 20px;

}

article:nth-of-type(odd)    {
    background-color: #ffffff;
    margin-left: 0px;
    padding: 20px;
}

.resumeLinks    {
    color: #778da9;
}
.resumeLinks:hover  {
    color: #0d1b2a;
    letter-spacing: 1px;
}