/******************************* All Page styles *******************************/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Oswald:wght@600&display=swap');

*   {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}

body    {
    display: flex;
    flex-direction: column;
    min-height:100vh;
    width: 100vw;
}

/*.flex-content-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    }

.flex-content-nowrap {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    }*/

/******************************* Header styles *******************************/

#headerContainer    {
    display: flex;
    flex-direction: column;
    background-color: #0d1b2a;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 10px;
}

header  {
    background-color: #0d1b2a;
    display: flex;
    margin-left: 0px;
}


#headerContent  {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#siteTitle  {
    font-size: 2rem;
    font-family: 'Oswald';
    color: #e0e1dd;
    letter-spacing: .2rem;
}

#siteSubtitle  {
    font-size: 1.25rem;
    font-family: 'Open Sans';
    font-weight: 300;
    color: #778da9;
    font-style: italic;
    padding-bottom: 20px;
}

/******************************* Navigation styles *******************************/

nav {
    background-color: #0d1b2a;
}

nav>ul {
    justify-content: center ;
    list-style-type: none;
    font-family: 'Open Sans';
    font-size: 1rem;
}

/******************************* Hamburger Menus styles *******************************/

#menu__toggle {
    opacity: 0;
  }
  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    left: 0 !important;
  }
  .menu__btn {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 22px;
    height: 22px;
    cursor: pointer;
    z-index: 2;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: .25s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  .menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: -200%;
    width: 200px;
    height: 30%;
    margin: 0;
    padding: 50px 0;
    list-style: none;
    background-color: #ECEFF1;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
    z-index: 1;
  }
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-size: 1.25rem;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
  }
  .menu__item:hover {
    background-color: #CFD8DC;
  }

  .hamburger  {
    display: none;
}

/******************************* Footer styles *******************************/

footer  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
    height: 60px;
    background: #0d1b2a;
    color: #e0e1dd;
    margin-top: auto;
    padding-left: 30px;
    padding-right: 30px;
}

#footerIcons    {
    list-style: none;
}

.social-media-icons li {
    display: inline-block;
}

.social-media-icons a {
    background-image: url(/images/social-icons/socials.png);
    background-repeat: no-repeat;
    display: block;
    height: 30px;
    width: 30px;
}

.facebook {
    background-position: 0px 0;
}

.linkedin {
    background-position: -30px 0;
}

/******************************* Main Content styles *******************************/

main    {
    padding: 30px;
    font-family: 'Open Sans';
    font-weight: 400;
    line-height: 1.75rem;
}

p, .resume-content   {
    padding-left: 25px;
    padding-bottom: 15px;
}

/******************************* Link styles *******************************/

a   {
    color: #e0e1dd;
    text-decoration: none;
}

a:hover   {
    color: #778da9;
}

/******************************* Heading styles *******************************/

h1  {
    color: #1b263b;
    font-family: 'Oswald';
    font-size: 1.5rem;
    font-variant: small-caps;
    letter-spacing: 1px;
    padding: 1rem;
}

/******************************* Text styles *******************************/

i   {
    font-size: inherit;
}

strong  {
    font-weight: inherit;
    font-size: inherit;
}

/******************************* Image styles *******************************/

#headshot {
    padding-bottom: 30px;
    padding-top: 30px;
    float: right;
}

/******************************* Media Queries *******************************/

@media screen and (min-width:768px) {
    header  {
        margin-left: 50px;
    }

    #headerContainer    {
        flex-direction: row;
        padding-top: 40px;
        padding-bottom: 40px;
        justify-content: space-between;
    }

    #headerContent  {
        align-items: flex-end;
    }

    nav {
        justify-content: end;
        padding-right: 30px;
    }

    nav li  {
        padding: 10px;
    }

    #siteTitle  {
        font-size: 3rem;
        font-family: 'Oswald';
        color: #e0e1dd;
        letter-spacing: 3px;
    }
    
    #siteSubtitle  {
        font-size: 1.5rem;
        font-family: 'Open Sans';
        font-weight: 300;
        color: #778da9;
        font-style: italic;
        padding-bottom: 20px;
    }    

  .menu__btn {
     display: none;
  }

  .hamburger  {
    display: flex;
}

  p, .resume-content   {
        font-size: 1.05rem;
    }    
}

@media screen and (min-width:1080px) {
    #siteTitle  {
        font-size: 4rem;
        font-family: 'Oswald';
        color: #e0e1dd;
        letter-spacing: 3px;
    }
    
    #siteSubtitle  {
        font-size: 2.25rem;
        font-family: 'Open Sans';
        font-weight: 300;
        color: #778da9;
        font-style: italic;
        padding-bottom: 20px;
    }    

    nav li a {
        font-size: 1.25rem;
        padding: 10px;
    }

  p, .resume-content   {
        font-size: 1.2rem;
        line-height: 2.25rem;
    }
    
    h1  {
        font-size: 2.25rem;
        padding-bottom: 2rem;
    }
}