/*****
Colors

Dark Blue #21364b
Light Blue #3e93cc
Lightest Blue #a6d7e5
Gray rgb(91, 87, 87);
*****/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;800&display=swap');

body {
    color: white;
    font-family: 'Open Sans', sans-serif;
    background-color: #21364b;
}
header {
    background: #21364b;
}
main {
    background: #ffffff;
    padding: 1em;
    border-left: 1px solid #21364b;
    border-right: 1px solid #21364b;
}
footer {
    background: #21364b;
    color: #ffffff;
    font-size: .9em;
    text-align: end;
    margin: 1em 1em 0 0;
}
.left-sidebar {
    background: #a6d7e5;
}
.right-sidebar {
    background: #a6d7e5;
}
.mainContent {
    display: flex;
    flex-direction: column;
}

nav {
    height: 2em;
    margin: 0 auto 2em;
}

.pageHeading    {
    padding-top: 1em;
    padding-left: 1em;
    color: #a6d7e5;
    font-size: 1em;
    font-weight: 400;
    text-transform: uppercase;
}

nav>ul  {
    list-style-type: none;
    margin: 0;
    display: flex;
    justify-content: flex-end;
}

nav>ul>li   {
    font-size: 1em;
    font-weight: 400;
    text-transform: uppercase;
    color: inherit;
    text-decoration: none;
}

nav>ul>li a {
    color: #ffffff;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

nav>ul>li a:hover {
    color: lightblue;
}

h1  {
    font-weight: 500;
    font-size: 1.5em;
    color: #21364b;
    letter-spacing: 2px;
    text-transform: capitalize;
}

h2  {
    font-weight: 400;
    font-size: 1em;
    color: #21364b;
    letter-spacing: 1px;
}

p   {
    font-weight: 400;
    font-size: .9em;
    padding: 10px 10px 10px 10px;
    color: rgb(0, 0, 0);
    line-height: 2;
}

strong  {
    font-weight: inherit;
}

img {
    padding: 10px;
    float: right;
    width: 300px;
    opacity: 0.6;
}

ul  {
    font-weight: 400;
    font-size: .9em;
    color: rgb(0, 0, 0);
    line-height: 2;
    list-style-type: none;
}

ul>li a {
    color: #21364b;
    text-decoration: none;
}

ul>li a:hover {
    text-transform: uppercase;
}

@media all and (min-width: 768px) {
    .mainContent {
        flex-direction: row;
        flex-wrap: wrap;    
    } 
    header, 
    footer {
        width: 100%;
    }
    main {
        flex: 6;
        order: 2;
        min-height: 85vh;
    }
    
    .left-sidebar {
        order: 1;
        flex: 1;
    }
    .right-sidebar {
        flex: 1;
        order: 3;
    }
    footer {
        order: 4;
    }
}