@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Oswald:wght@600&display=swap');

*   {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}

body    {
    display: flex;
    flex-direction: column;
    min-height:100vh;
}

/* Header and Footer styles */

#headerContainer    {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #0d1b2a;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 10px;
}

header  {
    background-color: #0d1b2a;
    display: flex;
    margin-left: 0px;
}

footer {
    background: #0d1b2a;
    color: #e0e1dd;
    font-size: 1rem;
    height: 50px;
    margin-top: auto;
}

#headerContent  {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#siteTitle  {
    font-size: 2.5rem;
    font-family: 'Oswald';
    color: #e0e1dd;
    letter-spacing: .2rem;
}

#siteSubtitle  {
    font-size: 1.25rem;
    font-family: 'Open Sans';
    font-weight: 300;
    color: #778da9;
    font-style: italic;
    padding-bottom: 20px;
}

#footerContent  {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px 10px 10px;
}

#footerIcons    {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-left: 30px;
}

/* Style the button that is used to open and close the collapsible content */

.flex-content-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    }

.flex-content-nowrap {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    }

nav {
    background-color: #0d1b2a;
}

nav>ul {
    justify-content: center ;
    list-style-type: none;
    font-family: 'Open Sans';
    font-size: 1rem;
}

#headshot {
    padding: 10px;
    width: 60%;
    opacity: 0.6;
    max-width: 400px;
    float: right;
}

img.icons {
    padding: 0px;
    opacity: 1;
    max-height: 15px;
    width: auto;
}

a   {
    color: #e0e1dd;
    text-decoration: none;
    padding: .5rem;
}

a.imageLink {
    padding: 0px;
}

a:hover   {
    color: #778da9;
}

h1  {
    color: #1b263b;
    font-family: 'Oswald';
    font-size: 1.5rem;
    font-variant: small-caps;
    letter-spacing: 1px;
}

p, li   {
    line-height: 1.75rem;
    padding-left: 25px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 1em;
    padding-bottom: 15px;
}

i   {
    font-size: inherit;
}

section {
    font-size: .75rem;
    font-family: 'Open Sans';
    font-weight: 200;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
}

strong  {
    font-weight: inherit;
    font-size: inherit;
}


/* Hamburger styles */

#menu__toggle {
    opacity: 0;
  }
  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    left: 0 !important;
  }
  .menu__btn {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 2;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: .25s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  .menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #ECEFF1;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
    z-index: 1;
  }
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
  }
  .menu__item:hover {
    background-color: #CFD8DC;
  }

  .hamburger  {
    display: none;
}


/* Media Queries are below */

@media screen and (min-width:768px) {
    header  {
        margin-left: 50px;
    }
    #headerContainer    {
        flex-direction: row;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    #headerContent  {
        align-items: flex-end;
    }

    img {
        width: 350px;
    }

    header  {
        justify-content: center;
    }

    nav {
        justify-content: end;
        padding-right: 30px;
    }

    footer {
        font-size: 1.25rem;
        height: 100px;
        margin-top: auto;
    }

    img.icons {
        max-height: 25px;
        width: auto;
    }
    p   {
        font-size: 1.05rem;
    }
    #siteTitle  {
        font-size: 3.5rem;
        font-family: 'Oswald';
        color: #e0e1dd;
        letter-spacing: 3px;
    }
    
    #siteSubtitle  {
        font-size: 2rem;
        font-family: 'Open Sans';
        font-weight: 300;
        color: #778da9;
        font-style: italic;
        padding-bottom: 20px;
    }    

  .menu__btn {
     display: none;
  }

  .hamburger  {
    display: flex;
}
}

@media screen and (min-width:1024px) {
    header  {
        justify-content: center;
    }

    img {
        width: 450px;
    }
}
